
<div class="container-fluid  bg-light text-dark">
  <div class="row justify-content-center align-items-center">
    <h1>Questions Quiz</h1>
  </div>
  <hr />
  <div class="row justify-content-center align-items-center ">
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngIf="type">
      <form>
        <div class="form-group">
          <select  #type name="type" class="form-control">
            <option *ngFor="let type of typeOfQuiz">{{type}}</option>
            <!-- <option>Option 2</option> -->
          </select>
        </div>

        
        <div class="form-group">
          <div class="container">
            <div class="row">
              <!-- <div class="col"><button class="col-6 btn btn-secondary btn-sm float-left">Reset</button></div> -->
              <div class="col"><button type="button" class="col-6 btn btn-primary btn-sm float-right" (click)="startQuiz(type.value)">Start</button></div>
            </div>
          </div>
        </div>

      </form>
    </div>
    <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngIf="stQuiz">
      <div *ngFor="let questions of Questions;let i = index;">
          <form>
      <div class="form-group">
          <label>{{ i+1 }}) {{questions.question}}</label>
      </div>
      <div class="form-group " *ngFor="let opt of options">
          <div >
            <label class="form-check-label">
              <input type="radio" class="form-check-input" #optradio name="optradio">{{opt}}
            </label>
          </div>
          <!-- <div >
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio">Option 2
            </label>
          </div>
          <div >
            <label class="form-check-label">
              <input type="radio" class="form-check-input" name="optradio" >Option 3
            </label>
          </div>
          <div >
              <label class="form-check-label">
                <input type="radio" class="form-check-input" name="optradio" >Option 3
              </label>
          </div> -->

        </div>
        <div class="form-group">
            <div class="container">
              <div class="row">
                <!-- <div class="col"><button class="col-6 btn btn-secondary btn-sm float-left">Reset</button></div> -->
                <div class="col"><button type="button" class="col-6 btn btn-primary btn-sm float-right" (click)="nextQuiz(optradio.value)">Next</button></div>
              </div>
            </div>
          </div>
          </form>
      </div>
       
    </div>
  </div>
</div>